.site-menu ul li a {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}

.header-logo{
    display: block;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}