@charset "utf-8";

nav.floating{
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #f0f0f0;
    height: 100%;
}

body {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    max-width: 1000px;
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
}

a{
    color: inherit;
    text-decoration: none;
}

/* .site-menu ul li a {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
} */

.header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #f4ee82;
        height: 80px;
        z-index: 10;
        /* box-shadow: 0 3px 6px rgba(0, 0, 0, 1); */
    }

.header-inner{
    max-width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 40px;
    color: #ff5a5f;
    text-decoration: none;
}

.toggle-menu-button{
    display: none;
}

.header-logo{
    display: block;
    /* width: 170px; */
    width: auto;
}

.site-menu ul{
    display: flex;
}

.site-menu ul li{
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li a {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    /* position: fixed; */
    /*一番下に標示するように変更する*/
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4ee82;
    height: 80px;
    z-index: 10;
    max-width: 1000px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 0;
    margin-top: 0;
}
