@charset "utf-8";

nav.floating{
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
    z-index: 5;
}

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #f0f0f0;
    height: 100%;
}

body {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    max-width: 1000px;
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4ee82;
    height: 80px;
    z-index: 10;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 1); */
}

.header-inner{
    max-width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 40px;
    color: #ff5a5f;
    text-decoration: none;
}

.toggle-menu-button{
    display: none;
}

.header-logo{
    display: block;
    /* width: 170px; */
    width: auto;
}

.site-menu ul{
    display: flex;
}

.site-menu ul li{
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li a {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
}

.first-view{
    margin-top: 80px;
    display: block;
    align-items: center;
    height: calc(70vh - 200px);
    background-image: url(../images/common/spain_city_02.jpg);
    max-width: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
}

.Center-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.second-view-text{
    text-align: center;
    background: linear-gradient(to bottom, #f9b0bd, #fff5cc, #f9b0bd);
    /* border-bottom:5px solid #f4ee82; */
    padding-bottom: 8px;
}


.index-context{
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
}

.index-context p{
    font-size: 20px;
}

.index-context h1{
    /* font-size: 1.8vw;
    white-space: nowrap;
    letter-spacing: 0.1em; */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.index-context li{
    font-weight: 700;
    color: black;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 27px;
}

.index-context ul{
    list-style: inside;
}

.footer {
    /* position: fixed; */
    /*一番下に標示するように変更する*/
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4ee82;
    height: 80px;
    z-index: 10;
    max-width: 1000px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 0;
    margin-top: 0;
}

.footer-logo-title {
    font-size: 16px;
    color: #ff5a5f;
    text-decoration: none;
}

@media(max-width: 800px){
    nav.floating{
        position: fixed;
        bottom: 20px;
        right: 20px;
        left: auto;
        top: auto;
        z-index: 15;
    }

    .site-menu ul{
        display: flex;
        text-align: center;
    }

    .site-menu li{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #f4ee82;
        height: 80px;
        z-index: 10;
    }

    .header-inner {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header-title{
        font-size: 15px;
    }

    .header-logo {
        width: 100px;
    }

    .header-site-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #736e62;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

    .header-site-menu.is-show {
        display: block;
    }

    .toggle-menu-button {
        display: block;
        width:44px;
        height: 34px;
        background-image: url(../images/common/icon-menu.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .main {
        padding-top: 50px;
    }

    .footer-logo {
        margin-top: 60px;
    }

    .index-context{
    padding-left: 0cm;
    padding-right: 0cm;
    width: 100%;
}
}